.truthTable {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

.truthTable td, .truthTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.truthTable tr.incorrectRow td {
  background-color: #ff8080;
  padding: 8px;
}

.truthTableEditableCell {
  width: 9px;
}